{% extends 'voter/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block main %}
<!-- <div class="center-container"> -->
    <!-- <div class="text-center" style="width: 100%;"> -->
        <form class="form-signin" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <img class="mb-4" src="{% static 'images/logo.svg' %}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            {% for error in login_form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% for field in login_form %}
            {% render_field field class="form-control" placeholder=field.label %}


            
            {% endfor %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}

            {% endfor %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
        </form>
    <!-- </div> -->
<!-- </div> -->
{% endblock %}